#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Home</h1>

<form action="@{Application.callNumber()}" method="GET">
    <input type="text" name="number" value="9173799794" />
    <input type="submit" value="Call now!" />
</form>

<table>
    <thead>
        <th>ID</th>
        <th>Status</th>
        <th>To</th>
        <th>From</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Started</th>
        <th>Ended</th>
        <th>Duration</th>
    </thead>
    <tbody>
        #{list items:calls, as:'call'}
        <tr>
            <td>${call.cid}</td>
            <td>${call.status}</td>
            <td>${call.callTo}</td>
            <td>${call.callFrom}</td>
            <td>${call.created}</td>
            <td>${call.updated}</td>
            <td>${call.start}</td>
            <td>${call.end}</td>
            <td>${call.duration}</td>
        </tr>
        #{/list}
    </tbody>
</table>